.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.strike-value{
    text-decoration:line-through;
    font-size:18px;
    margin-left:10px;
    color:#999999;
}
.product__details-btn{
    margin-top: 0;
}
.product__details-btn button{
    font-family: var(--tp-ff-jost);
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: var(--tp-common-white);
    background-color: var(--tp-heading-secondary);
    padding: 13px 97px;
    border-radius: 30px;
  }
  .more-button{
    font-family: var(--tp-ff-jost);
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: var(--tp-common-white);
    background-color: var(--tp-heading-secondary);
    padding: 13px 97px;
    border-radius: 30px;
    display: block;
    margin: 10px auto;
  }
  .product__details-btn button:hover{
    background-color: #859A00;
  }
  .more-button:hover{
    background-color: #859A00;
    color: #FFFFFF;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .product__details-btn button ,.more-button {
      padding: 13px 30px;
    }
  }
  @media (max-width: 767px) {
    .product__details-btn button , .more-button {
      padding: 13px 30px;
    }
  }
@media screen and (max-width:800px){
    .services{
        flex-direction: column;
    }
}
#button-lists{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
#button-lists button{
  background: #859a001c;
  padding: 3px 15px;
  border: 1px solid #859A00;
  border-radius: 60px;
  color: #859A00;
}
.active-button{
  background: #859A00;
  color: #FFFFFF;
}
@media screen and (max-width:994px) {
  #related-pr{
    display: grid;
    grid-template-columns:repeat(2,1fr);
  }
}
.del-data{
  color:#999999;
  margin-left: 10px;
  font-size: 16px;
}
#buffer{
  position: fixed;
  top:0;
  left:0;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  z-index: 99999;
}
#buffer .svg-spinner {
  width: 20vw;
  max-width: 100px;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
 }
 
 #buffer .svg-spinner circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 
 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }
 .error {
  position: absolute;
  top:-200px;
  left:20vw;
  right: 20vw;;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: auto;
  padding: 15px;
  background: #EF665B;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  display: flex;
  justify-content:space-between;
  align-items: center;
  transition: all 0.3s ease-in;
}

.error__icon {
  width: 20px;
  height: 20px;
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error__close path {
  fill: #fff;
}

.input-layout{
  width: 100%;
  display: flex;
  padding: 40px 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}
.input-layout div{
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 10px;

}
.input-layout div input{
  width: 100%;
  border: none;
  background: none;
  padding: 5px 0px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wishlist-btn{
  background: #FFFFFF;
  color: #EF665B;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}


.wishlist-btn-active{
  background: #EF665B;
  color: #FFFFFF;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width:575px) {
  .res-center-text{
    text-align: center;
  }
  .res-center-layout{
    display: flex;
    justify-content: center;
  }
}